<a href="${properties.cardLink}" class="offercard-link">
<figure class="offercard-container dark">
  <img src="https://flowbite.com/docs/images/blog/image-1.jpg" alt="" width="384" height="512">
  <div class="captxt">
    <blockquote>
      <p class="quote">
        ${properties.cardDesc}
      </p>
    </blockquote>
    <figcaption class="figcaption">
      <div class="name">${properties.cardProfilename}</div>
      <div class="role">${properties.cardProfileDesignation}</div>
    </figcaption>
  </div>
</figure>
</a>