<header style="background-color: #333; padding: 10px;">
    <nav>
        <ul style="list-style-type: none; padding: 0; text-align: center;">
            <li style="display: inline; margin-right: 10px;"><a href="#" style="text-decoration: none; color: #fff;">${properties.text}</a></li>
            <li style="display: inline; margin-right: 10px;"><a href="#" style="text-decoration: none; color: #fff;">${properties.aboutText}</a></li>
            <li style="display: inline; margin-right: 10px;"><a href="#" style="text-decoration: none; color: #fff;">${properties.serviceText}></a></li>
            <li style="display: inline;"><a href="#" style="text-decoration: none; color: #ffffff;">Contact</a></li>
        </ul>
    </nav>
</header>

