<!-- <header style="background-color: #333; padding: 10px;">
    <nav>
        <ul style="list-style-type: none; padding: 0; text-align: center;">
            <li style="display: inline; margin-right: 10px;"><a href="#" style="text-decoration: none; color: #fff;">${properties.text}</a></li>
            <li style="display: inline; margin-right: 10px;"><a href="#" style="text-decoration: none; color: #fff;">${properties.aboutText}</a></li>
            <li style="display: inline; margin-right: 10px;"><a href="#" style="text-decoration: none; color: #fff;">${properties.serviceText}</a></li>
            <li style="display: inline;"><a href="#" style="text-decoration: none; color: #ffffff;">contactUs</a></li>
        </ul>
    </nav>
</header> -->
<header class="header-fixed">

	<div class="header-limiter">

		<h1><a href="#">Company<span>logo</span></a></h1>

		<nav>
			<a href="#">Home</a>
			<a href="#" class="selected">Blog</a>
			<a href="#">Pricing</a>
			<a href="#">About</a>
			<a href="#">Faq</a>
			<a href="#">Contact</a>
		</nav>

	</div>

</header>

<!-- You need this element to prevent the content of the page from jumping up -->
<div class="header-fixed-placeholder"></div>

